.check-box {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
    label {
        font-size: 13pt;
        color: #87959c;
        margin-left: 15px;
    }
    input {
        display: none;
    }
    .checkbox-custom {
        min-height: 20px;
        min-width: 20px;
        border: 2px solid #a2a7aa;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        transition: all 200ms;
        i {
            font-size: 9pt;
            color: white;
        }
    }
    .checkbox-custom.checked {
        background-color: #8abde0;
        border-color: #8abde0;
    }
}
