// Import Vars File
@import "../../../Sass/Vars";
.video-parent {
    position: relative;
    img {
        position: absolute;
        left: -165px;
        z-index: -1;
    }
    .video-frame {
        width: 440px;
        height: 440px;
        border-radius: 50%;
        border: 20px solid #ebf7fc;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        .video-container {
            width: 90%;
            height: 90%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            .play-button {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $main-color;
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
                cursor: pointer;
                i {
                    font-size: 20pt;
                    color: white;
                    margin-left: 5px;
                }
            }
            video {
                height: 100%;
                transform: translate(-25%);
            }
        }
    }
}

// ==============Responsive

// == == == == Tablet
@media (max-width: 991.98px) {
    .video-parent {
        margin-bottom: 100px;
    }
}
// == == == == Mobile
@media (max-width: 767.98px) {
    .video-parent {
        transform: scale(0.7);
        img {
            display: none;
        }
    }
}
