// Import Vars File
@import "../../../Sass/Vars";

// Start SubButton Style
.sub-button {
    min-width: max-content;
    padding: 12px 30px;
    border: none;
    background-color: white;
    color: $main-color;
    font-size: 16pt;
    border-radius: 30px;
    box-shadow: 0 0 8px -6px black;
    outline: none;
}
