// Import Vars File
@import "../../../Sass/Vars";

.menu-slide {
    width: 300px;
    height: 100vh;
    padding: 70px;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(100%, 0);
    transition: transform 300ms;
    will-change: transform;
    box-shadow: 0 0 20px -10px black;
    z-index: 100;
    // Content
    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // Links
        .links {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                text-align: center;
                li {
                    margin-bottom: 30px;
                    a {
                        color: $font-color;
                        text-transform: capitalize;
                        text-decoration: none;
                        font-size: 15pt;
                    }
                }
            }
        }
    }
}
.menu-slide.active {
    transform: translate(0, 0);
}

// ==============Responsive

// == == == == Tablet
@media (max-width: 991.98px) {
}
// == == == == Mobile
@media (max-width: 767.98px) {
}
